#navbar{
    display: flex;
    justify-content: space-around;
    font-size:28px;
    background-color: blueviolet;
    padding: 10px;
    }
    
    a{
        color: white;
        text-decoration: none;
    }